# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\yohannes.getu\Desktop\Python\2\App-8-Instant-Dictionary-Webapp\Instant-Dictionary-Web-App-_API-python\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
